/* index.less */
.md-viewer {
  font-size: 16px !important;
}

.md-viewer pre code[data-code-type='highlighter'] {
  font-size: 13px !important;
}

.md-viewer .zcss-8xwwhe > :not([data-code-type='highlighter']) code {
  font-size: 13px !important;
}

.md-viewer p {
  font-size: 16px !important;
}

.md-viewer span, .md-viewer a {
  font-size: 14px !important;
}
