/* index.less */
.directory {
  margin-right: 15px; /* 目录与 Markdown 内容之间的间隔 */
  border-right: 1px solid #ddd;
}

.directory h2 {
  font-size: 16px; /* 调整标题字体大小 */
  margin-bottom: 8px; /* 减少底部边距 */
}

.directory ul {
  list-style: none;
  padding-left: 0; /* 移除默认内边距 */
}

.directory li {
  margin: 4px 0; /* 减少每个列表项的间距 */
}

.directory a {
  text-decoration: none;
  color: #1e90ff; /* 链接颜色 */
  font-size: 14px; /* 添加链接字体大小 */
}

.directory a:hover {
  text-decoration: underline; /* 悬停时下划线 */
  color: #007acc; /* 悬停时链接颜色变化 */
}
